.home{
  padding: 20px;
}

.title{
  font-size: 20px;
  line-height: 36px;
  font-weight: 600;
  text-align: left;
}

.form{
  margin-top: 20px;
}

.flex-box{
  display: flex;
  flex: 1;
  justify-content: space-between;
}